<!doctype html>
    <html>
      <head>
        <meta charset="utf-8">
        <title>About me</title>
        <link rel="stylesheet" href="/styles/style.css" />
      </head>
      <body>
        <h1>About Me</h1>
        <p class="aboutme">Hello, I'm Elnaz. I'm interested in fashion and art, and I'd love to connect with other people who are passionate about their craft as well.</p>
        <a class="subscribe-bottom" href="https://www.youtube.com/@elnazfe">Feel free to follow me on Youtube!</a>
      </br>
    </br>
  </br>
        <img class="aboutme-img" src="/images/ElnazBanner.jpg"/>
      </br>
        <a class="home-bottom" href="/home">Go Back to Home</a>
      </body>
    </html>