<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css" />
    <title>Home</title>
</head>
<body>
    <h1>Hello, Welcome!</h1>
    <div class="order">
    <img class="home-img" src="/images/elnaz.png"/>
    <div class="order2">
    <a class="home-text" href="/about">About Me</a>
    <a class="home-text" href="/work">Portfolio</a>
    </div>
    </div>
</body>
</html>